body {
  margin: 0;
}

@media print {
  .no-print {
    display: none;
  }

  @page {
    size: 200px 200px
  }
}

.barcode-printer {
  font-family: monospace;
}

.barcode-printer .barcode-info {
  width: 100%;
  margin-bottom: -4px;
}

.barcode-printer .sku {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: -5px;
}

.barcode-printer .barcode-info > span {
  display: inline-block;
  width: 50%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.barcode-printer .barcode-info span:last-child {
  text-align: right;
}

.barcode-printer.size-201 {
  width: 384px;
  font-size: 16px;
  padding: 14px 50px 0;
}

.barcode-printer.size-201 svg {
  width: 244px;
  margin: 12px 70px;
  height: 70px;
}

.barcode-printer.size-201 svg rect {
  height: 70px;
}

.barcode-printer.size-201 svg g {
  transform: translate(0, -32px);
}

.barcode-printer.size-204 {
  width: 240px;
  padding: 8px 20px 0;
  font-size: 12px;
}

.barcode-printer.size-204 svg {
  width: 200px;
  margin: 8px 20px;
  height: 35px;
}

.barcode-printer.size-204 svg rect {
  height: 65px;
}

.barcode-printer.size-204 svg g {
  transform: translate(0, -12px);
}
