/*
  From what I can tell, @page won't work consistently with Chrome.
  Seems like these Brother printer settings overwrite anything set in @page

  Default settings on ios are portrait mode
  Default on desktop are landscape
*/

@media print {
  /*
    Will need to add this to other elements 
    Should be easy if we append this component to top level element like body
  */
  .no-print {
    display: none;
  }

  body {
    margin: 0 !important;
  }
  
  .ios {
    transform: rotate(90deg);
  }
  
  .barcode-printer {
    display: block !important;
  }

  /* chrome mobile 201 */
  .barcode-printer.size-201.ios {
    left: -160px;
    top: 160px;
  }

  /* chrome mobile 204 */
  .barcode-printer.size-204.ios {
    left: -100px;
    top: 87px;
  }
}

.barcode-printer {
  display: none;
  font-family: monospace;
}

.barcode-printer .barcode-info {
  width: 100%;
  margin-bottom: -4px;
}

.barcode-printer .sku {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: -5px;
}

.barcode-printer .barcode-info > span {
  display: inline-block;
  width: 50%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.barcode-printer .barcode-info span:last-child {
  text-align: right;
}

/* size-201 (Bigger) */
.barcode-printer.size-201 {
  width: 380px;
  font-size: 16px;
  padding: 14px 46px 0;
}

.barcode-printer.size-201 svg {
  width: 244px;
  margin: 12px 70px;
  height: 70px;
}

.barcode-printer.size-201 svg rect {
  height: 70px;
}

.barcode-printer.size-201 svg g {
  transform: translate(0, -32px);
}

/* size-204 (Smaller) */
.barcode-printer.size-204 {
  width: 240px;
  padding: 8px 20px 0;
  font-size: 12px;
}

.barcode-printer.size-204 svg {
  width: 200px;
  margin: 8px 20px;
  height: 35px;
}

.barcode-printer.size-204 svg rect {
  height: 65px;
}

.barcode-printer.size-204 svg g {
  transform: translate(0, -12px);
}
