body {
  margin: 0;
}

@media print {
  .no-print {
    display: none;
  }
}

.barcode-printer {
  font-family: monospace;
}

.barcode-printer .barcode-info {
  width: 100%;
  margin-bottom: 5px;
}

.barcode-printer .barcode-info span {
  display: inline-block;
  width: 50%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.barcode-printer .barcode-info span:last-child {
  text-align: right;
}

.barcode-printer.size-201 {
  width: 4in;
  font-size: 16px;
  padding: 17px 50px 0;
}

.barcode-printer.size-204 {
  width: 2.5in;
  padding: 5px 20px 0;
  font-size: 12px;
}
